#root {
  --selected-color: #77d85e;
}

body {
  overflow-y: hidden;
}

.npc-generator .input-group-text {
  width: 5rem; /*adjust as needed*/
}

pre {
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
}

[data-bs-theme="dark"] .scrollable-menu {
  scrollbar-color: var(--bs-gray-dark) var(--bs-body-bg);
}

.scrollable-menu {
  scrollbar-width: thin;
  scrollbar-color: var(--bs-gray-light) var(--bs-body-bg);
  height: calc(100vh - 50px);
  overflow-y: auto;
}

.list-group.list-group-root {
  padding: 0;
  overflow: hidden;
}

.list-group.list-group-root .list-group {
  margin-bottom: 0;
}

.list-group.list-group-root .list-group-item {
  border-radius: 0;
  border-width: 0;
}

.list-group.list-group-root > .list-group-item:first-child {
  border-top-width: 0;
}

.list-group.list-group-root > .list-group > .list-group-item {
  padding-left: 30px;
}

.list-group.list-group-root > .list-group > .list-group > .list-group-item {
  padding-left: 45px;
}

.list-group-item {
  background-color: unset;
  user-select: none;
}

.npc-generator .list-group-item.selected {
  color: var(--selected-color);
}

.list-group-item:hover {
  background-color: #fff2;
  cursor: pointer;
}

.list-group-item:active {
  background-color: #fff4;
}
.list-group-item.calculated {
  background-color: #fff2;
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
}

.list-group-item.calculated:hover {
  background-color: #fff5;
}

#char-display {
  white-space: pre-line;
}

.no-toggle.dropdown-toggle::after {
  display: none;
}

/* .initiatives .selected.list-group-item {
	box-shadow: inset 0 0 5px 1px #61a564;
} */

.initiatives .selected.list-group-item span {
  color: var(--selected-color);
}

.initiatives .row > * {
  --bs-gutter-x: 1.2rem;
}

.initiatives .buttons button {
  margin-bottom: 0.5rem;
}
